.App {
  text-align: center;
 
}

.App h1 {
  padding-top: 25%;
  max-width: 70%;
  margin: auto;
  font-size: 4rem;
  font-weight: bold;
}

.App h2 {
  max-width: 60%;
  margin: auto;
  font-size: 2rem;
}

.App p {
  font-size: 1.5rem;
  font-style: italic;
  color: mediumturquoise;
}

